{% extends 'base.html.twig' %}

{% block title %}Panier client{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ asset('css/style.css') }}">
<div class="container-fluid4">

    <h1>Détail panier</h1>





</div>
{% endblock %}
