body {
    background: #eeeeee;
}

.nav-item {
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    color: black;
}

.nav-link {
    color: black;
}


.truc {
    background-color: #DDDDDD;
    flex-wrap: nowrap;
    justify-content: flex-end;

}

.bidule {
    background-color: #777777;
    justify-content: flex-end;
    flex-wrap: nowrap;
}

.machin {
    background-color: darkslategray;
    justify-content: flex-end;
    flex-wrap: nowrap;

}

.form-inline {
    display: inline-block;
}




.search-box {
    position: relative;
}
.search-box input {
    box-shadow: none;
    padding-right: 35px;
    border-radius: 3px !important;
}
.search-box .input-group-addon {
    min-width: 35px;
    border: none;
    background: transparent;
    position: absolute;
    right: 0;
    z-index: 9;
    padding: 7px;
    height: 100%;
}
.search-box i {
    color: #a0a5b1;
    font-size: 19px;
}





.img-fluid1 {
    position: relative;
    top: 0;
    right: 0;
    z-index:3;
}

.img-fluid2 {
    position: absolute;
    margin: 0 0 0 0;
    z-index: 1;
}


.produits {
    top: 250px;
}

h2 {
    font-family: "Arial" ;
    color: black;
    font-weight: bold;
    text-indent: 45px;
}

.img-responsive0 {
    margin: 0 40px 0 20px;
}

.img-responsive2 {
    margin: 0 60px 0 0;
}

.container-fluid1 {
    margin: 50px 0 0 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.container-fluid2 {
    margin: 50px 0 0 0;
}

.container-fluid3 {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border-right: 0;
    border-left: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    background-color: #eeeeee;
}


.yo {
    justify-content: space-evenly;
}

.container-fluid4 {
    margin: 200px 0 100px 0;
}

.container-fluid6 {
    margin: 200px 0 0 0;
}

.container-fluid7 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
    margin: 50px 0 50px 0;
}

.titre {
    text-align: center;

}
.btn1 {
    background-color: gray;
    color: white;
}

.tooltip .tooltiptext {
    visibility: visible;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}

.tel {
    text-align: center;
    color: #B0413E;
}

.metadata {
    font-size: 15px;
    font-style: normal;
    font-weight: normal;
}

.metadata1 {
    font-size:20px;
    font-style: italic;
    font-weight: bold;
}
