body {
    background: #eeeeee;
}

.nav-item {
    justify-content: space-between;
    color: black;
    font-weight: bolder;
    font-family: 'Cosmic Sans MS';
}


.nav-link {
    color: black;
}
.yes {
    justify-content: flex-end;
}

.truc {
    background-color: #DDDDDD;
    justify-content: flex-end;
}

.bidule {
    background-color: #777777;
    justify-content: flex-end;
}

.machin {
    background-color: darkslategray;
    justify-content: flex-end;
}

.img-fluid1 {
    position: relative;
    top: 0;
    right: 0;
    z-index:3;
}

.img-fluid2 {
    position: absolute;
    margin: 0 0 0 0;
    z-index: 1;
}

.produits {
    top: 250px;
}

h2 {
    font-family: "Arial" ;
    color: black;
    font-weight: bold;
    text-indent: 45px;
}

.img-responsive0 {
    margin: 0 40px 0 20px;
}

.img-responsive2 {
    margin: 0 60px 0 0;
}

.container-fluid1 {
    margin: 50px 0 0 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.container-fluid2 {
    margin: 50px 0 0 0;
}

.container-fluid3 {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border-right: 0;
    border-left: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    background-color: #eeeeee;
}


.yo {
    justify-content: space-evenly;
}

.container-fluid4 {
    margin: 200px 0 100px 0;
}

ul {
    list-style-type : none;
}

.container-fluid6 {
    margin: 200px 0 0 0;
}

.container-fluid7 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
    margin: 50px 0 50px 0;
}

.titre {
    text-align: center;

}
.btn1 {
    background-color: gray;
    color: white;
}



.tel {
    text-align: center;
    color: #B0413E;
}

.metadata {
    font-size: 15px;
    font-style: normal;
    font-weight: normal;
}

.metadata1 {
    font-size:20px;
    font-style: italic;
    font-weight: bold;
}
